/*PC first*/

/*reset*/
 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

section{
    background-color: blue;
    color: white; 
    padding: 5px;
}

.center{
    align-content: center;
    align-self: center;
    text-align: center;
    justify-self: center;
    justify-content: center;
}

.logo-nav{
    height: 200px;
    width: 200px;
}
.sticky-top{
    position: sticky;
    top:  0;
    background-color: #511cd8;
    
}
.positio-nav{
    
    justify-content: space-around;
    width: 100%;
    
}

.positio-nav a{
    color: white;
}
.flex-teacher{
    display: flex;
    justify-content: center;
}
.article2{
    background-color: #5a1eec;
}
.article3{
    background-color: white;
    color: #5a1eec;
}

.navbar{
    --bs-navbar-toggler-font-size: 3rem;
    --bs-navbar-padding-x: 10px;
}

.article1{
    background-color:#0affba ;
    padding: 5px;
    width: 100%;
    color: black;
}
h2{
    font-size: 400%;
    font-weight: bold;
}
.p-desc{
    font-size: 200%;
}
.container-fluid{
    padding: 0;
    --bs-gutter-x: 0rem;
}
.row{
    --bs-gutter-x: 0rem;
}

.space-evenly{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
    margin-top: 10px;
}

/*---------------------------Inicio de codeo de cartas teachers hechas por mi :)-----------------------*/

.grid-carta{ /*Seteo tamanio y distribucion de las cartas de los teachers*/
    height: 300px;
    width: 200px;
    border: solid 1px black;
    margin: 5px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 2fr 2fr 1fr;
    grid-template-areas:
    "nombre nombre nombre"
    "fotito fotito fotito"
    "desc desc desc"
    "l-face l-insta l-wa"
    ;  
    background-color: #0affba; 
    align-items: center;
    justify-items: center;
    color: #5a1eec;
    
    }
    
    .nombre{ /*Seteo del nombre*/
        grid-area: nombre;
        border-bottom: solid 1px blue;
        font-size: 125%;
        font-weight: bolder;
    }
    
    .fotito{/*Seteo del tamanio de la fotito */
    height: 100px;
    width: 100px;
    grid-area: fotito;
    
    }
    
    .desc{/*Seteo de la descripcion*/
        grid-area: desc;
        font-weight: bold;
        text-align: center;
    }
    
    .l-face{/*grid area face*/
    grid-area: l-face;
    }
    
    .l-insta{/*grid area inst*/
        grid-area: l-insta;
    }
    
    .l-wa{/*grid area wa*/
        grid-area: l-wa;
    }
    
    .logo-carta{/*Seteo de tamanio de logos*/
        height: 50px;
        width: 50px;   
    }
    
    /*---------------------------Fin de codeo de cartas teachers hechas por mi :)-----------------------*/
    
/*---------------------------Inicio de codeo de cartas Cursos hechas por mi :)-----------------------*/
.tarjeta-cursos{
    width: 200px;
    height: 400px;
    border:  1px solid black;
    
}

.nombre-curso{
    height: 20%;
    background-color: #5a1eec;
    color:#0affba;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    padding: 5px;
}
.precio-curso{
    height: 30%;
    background-color: white;
    color: #5a1eec;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5px;
}
.precio-curso-precio{
    font-weight: bold;
    font-size: 125%;
}
.desc-curso{
    height: 50%;
    background-color: #5a1eec;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5px;
}
.desc-curso-titulo{
    font-weight: bold;   
}

.desc-curso-comprar{
    background-color: #0affba;
    color: #511cd8;
    width: 70%;
}
.desc-curso-comprar:hover{
    background-color: yellow;
}
 /*---------------------------Fin de codeo de cartas Cursos hechas por mi :)-----------------------*/
/*---------------------Inicio fOOTER--------------------*/

footer{/*color grid area altura del footer*/
    height: fit-content;
    
    background-color:#5a1eec;
    color: white;
    margin-top: 10px;
    font-size: 125%;
    text-align: center;
   
}

.flex-footer{ /*Display flex de la Ul principal del footer*/
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

.flex-footer li ul{/*Seteado de los li-style*/
    list-style: none;
}



.logo-footer{/*Seteado tamanio de logos*/
    width: 50px;
    height: 50px;
    padding: 5px;
}

ul{
    margin-bottom: 0;
}
/*---------------------Fin FOOTER--------------------*/



@media screen and (min-width:768px) {

    .flex-logo-footer{/*Display Flex al ul del contenedor de logos*/
        display: flex;
        justify-content: center;    
    }
}
